image: maven:3.3-jdk-8

cache:
  key: "$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME"
  paths:
    - $HOME/.m2/

before_script:
  - mkdir -p $HOME/.m2/

stages:
  - test
  - build
  - deploy

unit_test:
  stage: test
  script:
    - mvn clean test $ENV_TEST -Dtest=Runner

.build: &build_template
  stage: build
  script:
    - mvn clean install -B

develop_build:
  <<: *build_template
  only:
    - branches
  except:
    - master
  artifacts:
    expire_in: 1 day
    paths:
      - target/*.jar

master_build:
  <<: *build_template
  only:
    - master
  artifacts:
    expire_in: 1 month
    paths:
      - target/*.jar

deploy_stage:
  stage: deploy
  except:
    - master
  image: docker:latest
  script:
#    - mkdir -p target/docker/
#    - cp src/main/docker/* target/docker/
#    - unzip -oq target/*.jar -d target/docker/
    - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN $CI_REGISTRY
    - docker build -t $CI_REGISTRY_IMAGE:$CI_BUILD_TAG target/docker/
    - docker push $CI_REGISTRY_IMAGE:$CI_BUILD_TAG

deploy_production:
  stage: deploy
  only:
    - master
  image: docker:latest
  script:
#      - mkdir -p target/docker/
#      - cp src/main/docker/* target/docker/
#      - unzip -oq target/*.jar -d target/docker/
    - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN $CI_REGISTRY
    - docker build -t $CI_REGISTRY_IMAGE:$CI_BUILD_TAG target/docker/
    - docker push $CI_REGISTRY_IMAGE:$CI_BUILD_TAG