.bubble {
  height: auto;
  max-width: 70%;

  @media (min-width: 576px) {
    max-width: 55%;
  }

  @media (min-width: 992px) {
      max-width: 45%;
  }

  width: fit-content;
  color: #fff;
  margin: 5px 0;
  padding: 5px 10px;

  animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;

  div {
    word-wrap: break-word;
  }
}

.bubble:after{
  border: solid transparent;
  content: " ";
  position: absolute;
  pointer-events: none;
  border-width: 6px;
  margin-top: 1px;
  top: 0%;
}

.bubble-user {
  background-color: @brand-secondary;
}

.bubble-user:after {
  left: 100%;
  border-left-color: @brand-secondary;
}

.bubble-bot {
  background-color: @brand-primary;
}

.bubble-bot:after {
  right: 100%;
  border-right-color: @brand-primary;
}