.carousel-container {
    padding: 5px 0;
    overflow: auto;
    white-space: nowrap;

    animation-duration: 0.5s;
    -webkit-animation-duration: 0.5s;
}

.carousel-item {
    display: inline-block;
    height: 200px;
    width: 200px;
    margin-right: 10px;
    padding: 5px 0;
    vertical-align: top;

    img {
        display: block;
        margin: auto;
        max-height: 75px;
    }

    .content {
        margin: 5px 10px;
    }

    .title {
        font-size: 16px;
        color: @brand-primary;
        line-height: 30px;
    }

    .text {
        font-size: 13px;
        color: @brand-secondary;
        line-height: 20px;
    }
}
