<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DBpedia Chatbot - Feedback</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="mobile-web-app-capable" content="yes" />

    <!-- Material Design fonts -->
    <link rel="stylesheet" type="text/css" href="https//fonts.googleapis.com/css?family=Roboto:500" />
    <link rel="stylesheet" type="text/css" href="https//fonts.googleapis.com/icon?family=Material+Icons" />

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="assets/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="assets/bootstrap-material-design/dist/css/bootstrap-material-design.css" />
    <link rel="stylesheet" type="text/css" href="assets/bootstrap-material-design/dist/css/ripples.min.css" />
    <link rel="stylesheet" type="text/css" href="assets/snackbarjs/dist/snackbar.min.css" />

    <script type="text/javascript" src="assets/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="assets/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/bootstrap-material-design/dist/js/ripples.min.js"></script>
    <script type="text/javascript" src="assets/bootstrap-material-design/dist/js/material.min.js"></script>
    <script type="text/javascript" src="assets/snackbarjs/dist/snackbar.min.js"></script>
</head>
<body>
    <div class="container full-height">
        <div class="row full-height">
            <div id="feedback-container"></div>
        </div>
    </div>

    <script type="text/javascript" src="js/feedback.js"></script>
    <script type="text/javascript">
        $(function() {
            $.material.init();
        });
    </script>
</body>
</html>