<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DBpedia Chatbot</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- Material Design fonts -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons" />

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="assets/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="assets/bootstrap-material-design/dist/css/bootstrap-material-design.css" />
    <link rel="stylesheet" type="text/css" href="assets/bootstrap-material-design/dist/css/ripples.min.css" />
    <link rel="stylesheet" type="text/css" href="css/app.css" />

    <script type="text/javascript" src="assets/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="assets/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/bootstrap-material-design/dist/js/ripples.min.js"></script>
    <script type="text/javascript" src="assets/bootstrap-material-design/dist/js/material.min.js"></script>
</head>
<body>
    <div class="container full-height" style="padding: 20px 5px;">
        <div class="row full-height">
            <div class="col-md-10 col-md-offset-1 full-height" id="chat-container">

                <!--<div id="messages-container" class="messages-container">-->

                <!--</div>-->
                <!--<div class="send-message-container">-->
                    <!--<form class="form-horizontal">-->
                        <!--<fieldset>-->
                            <!--<div class="col-md-10">-->
                                <!--<input type="text" class="form-control send-message-textbox" id="message" placeholder="Type Something..." />-->
                            <!--</div>-->
                            <!--<div class="col-md-2">-->
                                <!--<a href="javascript:void(0)" class="btn btn-sm btn-primary btn-fab">-->
                                    <!--<i class="material-icons">-->
                                        <!--grade-->
                                    <!--</i>-->
                                <!--</a>-->
                            <!--</div>-->
                        <!--</fieldset>-->
                    <!--</form>-->

                <!--</div>-->
                <script type="text/javascript" src="js/app.js"></script>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(function() {
            $.material.init();
        });
    </script>
</body>
</html>